<h2>Your lounges <span><%= link_to "Create", lounge_new_path, method: :get, class: "btn btn-success" %></span></h2>
<div class="card-list">
  <% @lounges.each do |lounge| %>
  <div class="card lounge-card">
    <div class="card-body">
      <h4 class="card-title"><strong><%= lounge[:name] %></strong></h4>
      <p class="card-text"><%= lounge[:description] %></p>
      <p class="card-text"><strong>$ <%= lounge[:price] %></strong></p>
      <%= link_to "Edit", lounge_edit_path(lounge[:id]), method: :get, class: "btn btn-warning" %>
      <%= link_to "Delete", lounge_destroy_path(lounge[:id]), method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
  <% end %>
</div>

<h2>Extra services</h2>
<div class="card-list">
  <% @services.each do |service| %>
  <div class="card lounge-card">
    <div class="card-body">
      <h4 class="card-title"><strong><%= service[:name] %></strong></h4>
      <p class="card-text">$ <%= service[:price] %>
      </p>
    </div>
  </div>
  <% end %>
</div>

<h2>Create extra service</h2>
<%= simple_form_for @service, url: service_create_path, method: :post do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :picture  %>
  <%= f.submit 'Create', class: "btn btn-success" %>
<% end %>